
@media (min-width: 200px) and (max-width:300px){
    h1{
        color: brown;
    }
}

@font-face {

    font-family: "chathurabold";

    src: url("../font/chathura_bold_macroman/chachathura-bold-webfont.eot");

    font-weight: normal;

    font-style: normal;

}